node_modules
config.toml
config.toml.*
libredesk.bin
libredesk
libredesk.exe
uploads
.env
dist/
.vscode/
static/widget.min.js
backup.sql
*_backup.sql
frontend/package-lock.json
uploads/*
!uploads/.gitkeep